<% provide(:title, "Clonebook") %>

<section id="home" class="">
  <div class="container">

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{key} container" %>
    <% end %>
    <div class="row no-gutters">
      <div class="user-info col-md-3 d-none d-md-block">
        <div class="user-info__cover"></div>
        <div class="text-center">
          <%= link_to current_user do %>
            <div class="mx-auto home-avatar avatar rounded-circle" style="background-image: url('<%= current_user.avatar_url %>')"></div>
          <% end %>
        </div>
        <div class="text-center user-info__username">
          <%= link_to current_user.username, current_user %>
        </div>
        <div class="user-info__stats">
          <div>
            <%= link_to current_user do %>
              <%= t('user-info.posts') %><br />
              <i><%= current_user.posts.count %></i>
            <% end %>
          </div>
          <div>
            <%= link_to user_friends_url(current_user) do %>
              <%= t('user-info.friends') %><br />
              <i><%= current_user.friends.count%></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="dol-12 col-md-8 ml-auto post__form">
        <div class="d-flex">
          <div><div class="post-form-avatar avatar rounded-circle" style="background-image: url('<%= current_user.avatar_url %>')"></div></div>
          <%= form_for(@post) do |f| %>
            <%= f.text_area :body, class: "col-auto form-control",
                                    placeholder: true %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit t('home.btn-post'), class: "btn float-right" %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render 'shared/feed' %>
  </div>
</section>