<% provide(:title, "Clonebook") %>

<section id="home">
  <div class="container">

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{key} container" %>
    <% end %>

    <div class="user-info col-md-4">
      <div class="text-center">
        <%= image_tag current_user.gravatar_url, class: "rounded-circle" %>
      </div>
      <div class="text-center user-info__username">
        <%= link_to current_user.username, current_user %>
      </div>
      <div class="user-info__stats">
        <div>
          <%= t('user_show.posts') %><br />
          <i>WiP</i>
        </div>
        <div>
          <%= t('user_show.friends') %><br />
          <i>WiP</i>
        </div>
      </div>
    </div>
  </div>
</section>