<section id="editUser">
  <div class="container col-lg-6 col-xl-4 py-4">
    <h2><%= t('edit_user.title') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :username %>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= fa_icon "user" %></div>
          </div>
          <%= f.text_field :username, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= fa_icon "envelope" %></div>
          </div>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= fa_icon "lock" %></div>
          </div>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= fa_icon "lock" %></div>
          </div>
          <%= f.password_field :password_password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="label"><%= t('devise.form.current_password') %><em class="font-weight-bold"><%= t('edit_user.current_password')%></em></div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= fa_icon "lock" %></div>
          </div>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit t('.update'), class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3><%= t('.cancel_my_account') %></h3>

    <p><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>
  </div>
</section>