<% content_for :stylesheet do %>
  <style>nav {}</style>
<% end %>

<section id="sign" class="py-5">
  <div class="container col-lg-6 col-xl-4">
    
    <div class="text-center">
      <%= link_to user_facebook_omniauth_authorize_path, class: "sign-facebook" do %>
        <%= fa_icon "facebook" %><%= t('sign.facebook') %>
      <% end %>
    </div>

    <div class="sign-divider text-center my-2">
      <%= t('sign.or') %>
    </div>

    <div class="d-none d-md-block">
      <%= form_for(resource, as: resource_name, html: {:class => "sign-form"}, url: session_path(resource_name)) do |f| %>
        <div>
          <%= f.email_field :email, placeholder: true, autofocus: true, autocomplete: "email",
                                    class: "form-control" %>
        </div>

        <div>
          <%= f.password_field :password, placeholder: true,
                                          autocomplete: "off", 
                                          class: "form-control" %>
          <% if devise_mapping.rememberable? -%>
            <div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <%= link_to t('sign.forget'), new_user_password_path %>
        </div>

        <span>
          <%= f.submit t('sign.sign_in'), class: "btn btn-primary" %>
        </span>
      <% end %>
    </div>

    <div class="d-md-none">
      <%= form_for(resource, as: resource_name, html: {:class => "sign-form-xs"}, url: session_path(resource_name)) do |f| %>
        <div>
          <%= f.email_field :email, placeholder: true, autofocus: true, autocomplete: "email",
                                    class: "form-control" %>
        </div>

        <div>
          <%= f.password_field :password, placeholder: true,
                                          autocomplete: "off", 
                                          class: "form-control" %>
        </div>

        <span style="display:flex;align-items: center;">
          <%= f.submit t('sign.sign_in'), class: "btn btn-primary" %>
        
          <% if devise_mapping.rememberable? -%>
            <span style="margin: 0 10px;">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </span>
          <% end -%>
        </span>
        <%= link_to t('sign.forget'), new_user_password_path %>
      <% end %>
    </div>

    <h2 class="mt-5"><%= t('sign.sign_up') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <div class="label"><%= t('devise.form.username') %></div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= fa_icon "user" %></div>
          </div>
          <%= f.text_field :username, autocus: true, 
                               autocomplete: "off", class: "form-control",
                               placeholder: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="label"><%= t('devise.form.email') %></div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= fa_icon "envelope" %></div>
          </div>
          <%= f.email_field :email, autocomplete: "email",
                                  class: "form-control",
                                  placeholder: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="label"><%= t('devise.form.password') %>
        <% if @minimum_password_length %>
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= fa_icon "lock" %></div>
          </div>
          <%= f.password_field :password, autocomplete: "off", class: "form-control",
                                          placeholder: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= fa_icon "lock" %></div>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "off", 
                                                       class: "form-control",
                                                       placeholder: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit t('.sign_up'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
