<div class="user-info col-md-3 d-none d-md-block">
  <div class="text-center user-info__username">
    <%= link_to @user.username, @user %>
  </div>
  <% if !@user.bio.blank?%>
    <div class="user-info__bio">
      <%= @user.bio %>
    </div>
  <% end %>
  <table style="width:100%">
    <% if !@user.location.blank? %>
      <tr>
        <td><%= fa_icon "map-marker" %></td>
        <td><%= @user.location %></td>
      </tr>
    <% end %>
    <% if !@user.birthday.blank? %>
      <tr>
        <td><%= fa_icon "birthday-cake" %></td>
        <td><%= t('user-show.birthday') %> <%= l(@user.birthday, format: "%d %B %Y") %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= fa_icon "calendar" %></td>
      <td><%= t('user-show.joined') %> <%= l(@user.created_at, format: "%B %Y") %></td>
    </tr>
  </table>
</div>