<div id="userNavbarMd" class="d-none d-md-block">
  <div class="user__cover">
  </div>

  <div class="user__nav-background">
    <div class="user__nav container">
      <nav class="ml-auto col-9">
        <ul class="nav">
          <li class="nav-item">
            <span class="nav-link"><%= @user.username %></span>
          </li>
          <li class="nav-item <%= 'active' if current_page?(@user) %>">
            <%= link_to t('user_navbar.posts'), @user, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(user_friends_path) %>">
            <%= link_to t('user_navbar.friends'), user_friends_path, 
                                                class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <%= t('user_navbar.like') %>
            </a>
          </li>
          <li class="nav-item">
            <% if @user == current_user %>
              <%= link_to t('user_navbar.edit'), edit_user_registration_path,
                                                class: "nav-link user-nav-btn" %>
            <% else %>
              <a class="nav-link user-nav-btn" href="#">
                <%= t('user_navbar.add_friend') %>
              </a>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="user__pp col-3">
      <%= image_tag @user.gravatar_url, class: "rounded-circle" %>
    </div>
  </div>
</div>

<div id="userNavbarXs" class="d-md-none">
work in progress
</div>