<div id="userNavbarMd" class="d-none d-md-block">
  <div class="user__cover">
    <div class="container">
      <div class="col-10 ml-auto user__username"><%= @user.username %></div>
    </div>
  </div>

  <div class="user__nav-background">
    <div class="user__nav container">
      <nav class="ml-auto col-10">
        <ul class="nav">
          <li class="nav-item <%= 'active' if current_page?(@user) %>">
            <%= link_to t('user_navbar.posts'), @user, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(user_friends_path) %>">
            <%= link_to t('user_navbar.friends'), user_friends_path, 
                                                class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <%= t('user_navbar.like') %>
            </a>
          </li>
          <li class="nav-item">
            <% if @user == current_user %>
              <%= link_to t('user_navbar.edit'), edit_user_registration_path,
                                                class: "nav-link user-nav-btn" %>
            <% else %>
              <% if current_user.friends_with?(@user) %>
                <%= link_to t('user_navbar.unfriend'), "friends/remove/#{@user.id}", 
                                              method: :post, 
                                              class: "nav-link user-nav-btn" %>
              <% elsif @user.pending_friends.include?(current_user) %>
                <%= link_to t('user_navbar.respond_to'), invitations_path, 
                                              class: "nav-link user-nav-btn" %>
              <% else %>
                <% if current_user.pending_friends.include?(@user) %>
                  <span class="nav-link user-nav-btn"><%= t('user_navbar.friend_request_sent') %></span>
                <% else %>
                  <%= link_to t('user_navbar.add_friend'), send_request_path,
                                                          method: :post,
                                                          class: "nav-link user-nav-btn" %>
                <% end %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="user__pp col-2">
      <%= image_tag @user.gravatar_url, class: "avatar w-100" %>
    </div>
  </div>
</div>

<div id="userNavbarXs" class="d-md-none">
  <div class="user__cover">
  </div>
  <div class="text-center user__pp-container">
    <div class="user_pp text-center d-inline-block">
      <%= image_tag @user.gravatar_url, class: "avatar" %>
      <div class="user__username"><%= @user.username %></div>
    </div>
  </div>
  <nav class="">
    <ul class="">
      <li class="<%= 'active' if current_page?(@user) %>" style="border-top: 1px solid #EDEEEF;">
        <%= link_to t('user_navbar.posts'), @user %>
      </li>
      <li class="<%= 'active' if current_page?(user_friends_path) %>">
        <%= link_to t('user_navbar.friends'), user_friends_path %>
      </li>
      <li>
        <a href="#">
          <%= t('user_navbar.like') %>
        </a>
      </li>
      <li class="text-center px-0">
        <% if @user == current_user %>
          <%= link_to t('user_navbar.edit'), edit_user_registration_path,
                                            class: "user-nav-btn" %>
        <% else %>
          <% if current_user.friends_with?(@user) %>
            <%= link_to "Remove Friend", "friends/remove/#{@user.id}", 
                                          method: :post,
                                          class: "user-nav-btn" %>
          <% else %>
            <% if current_user.pending_friends.include?(@user) %>
              <span class="user-nav-btn"><%= t('user_navbar.friend_request_sent') %></span>
            <% else %>
              <%= link_to t('user_navbar.add_friend'), send_request_path,
                                                      method: :post,
                                                      class: "user-nav-btn" %>
            <% end %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>