<nav id="header">
  <div class="container">
    <ul class="nav">
      <% if user_signed_in? %>
        <li class="nav-item item-link <%= 'active' if current_page?(root_path) %>">
          <a href="<%= root_path %>" class="link-home nav-link">
            <%= fa_icon("home") %>
            <span class="d-none d-md-block"><%= t('header.home') %></span>
          </a>
        </li>
        <li class="nav-item item-link">
          <a href="#" class="link-home nav-link" style="font-size: 22px;position: relative; top: 4px;">
            <%= fa_icon("bell") %>
            <span class="d-none d-md-block">Notifications</span>
          </a>
        </li>
        <li class="nav-item item-link <%= 'active' if current_page?(invitations_path) %>">
          <a href="<%= invitations_path %>" class="link-home nav-link" style="font-size: 22px;position: relative; top: 4px;">
            <%= fa_icon("user-plus") %>
            <% if current_user.requested_friends.any? %>
              <span class="badge badge-danger" style="font-size: 10px;margin-left: -10px;margin-top: -14px;">
                <%= current_user.requested_friends.count %>
              </span>
            <% end %>
            <span class="d-none d-md-block"><%= t('header.friend_requests') %></span>
          </a>
        </li>
        <li class="nav-item dropdown ml-auto">
          <a class="avatar-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag current_user.gravatar_url, class: "header-avatar rounded-circle" %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to current_user.username, current_user, class: "dropdown-header"%>
            <div class="dropdown-divider"></div>
            <%= link_to fa_icon("user") + t('header.profile'), current_user, class: "dropdown-item"%>
            <%= link_to fa_icon("cog") + t('header.settings'), edit_user_registration_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to t('header.sign_out'), destroy_user_session_path, method: :delete,
                                    class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
      <li class="mr-auto"><%= link_to "Clonebook", root_url, class: "navbar-brand" %></li>
      <li class="ml-auto"></li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="avatar-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if params[:locale] == "en" || params[:locale].nil? %>
            <%= image_tag "lang_en.png", class: "lang" %>
          <% else %>
            <%= image_tag "lang_fr.png", class: "lang" %>
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="?locale=en" class="dropdown-item">
            <%= image_tag "lang_en.png", class: "lang" %>
          </a>
          <a href="?locale=fr" class="dropdown-item">
            <%= image_tag "lang_fr.png" , class: "lang"%>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>