<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Clonebook", root_url, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= 'active' if current_page?(root_url) %>">
          <%= link_to t('header.home'), root_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to t('header.settings'), edit_user_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to t('header.sign_out'), destroy_user_session_path, method: :delete,
                                      class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item <%= 'active' if current_page?(new_user_session_url) %>">
            <%= link_to t('header.sign_in'), new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(new_user_registration_url) %>">
            <%= link_to t('header.sign_up'), new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="lang-group nav-item">
          <div class="nav-link">
            <a href="?locale=en"><%= image_tag "lang_en.png", class: params[:locale] == "en" || params[:locale].nil? ? "lang active" : "lang" %></a>
            <a href="?locale=fr"><%= image_tag "lang_fr.png", class: params[:locale] == "fr" ? "lang active" : "lang" %></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>