<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if user_signed_in? %>
        <% if current_user.requested_friends.any? %>
         <%= "(#{current_user.requested_friends.count}) Clonebook" %>
        <% else %>
          Clonebook
        <% end %>
      <% else %>
        Clonebook
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :stylesheet %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
